*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.outer-div{
    background-color:#81f3f3;
    display:flex;

}
form{
    background-color:white;
    width:480px;
    margin:40px auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border-radius:15px;
}
.heading-div{
    padding-top:50px;
    display:flex;
    justify-content:center;
}
.username-div,.password-div{
    display:flex;
    flex-direction: column;
    padding-top:30px;
    padding-left:48px;
}
.username-image-div,.password-image-div{
    display:flex;
    flex-direction:row;
    border-bottom:2px solid gray;
    width:370px;
    padding-top:15px;
    padding-bottom:9px;
}
.username-div label,.password-div label{
    font-size:18px;
    font-weight:900;
}
.username-image-div input,.password-image-div input{
    border:none;
    font-size:20px;
    
}
.username-image-div img:hover{
    cursor: pointer;
    width:31px;
    font-weight:900;
}
.password-image-div img:hover{
    cursor:pointer;
    width:26px;
    font-weight:900;
}
.para-div{
    padding-top:25px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width:420px;
    color:gray;
    font-weight:400;
}
.button-div button{
    display:flex;
    justify-content:center;
    width:340px;
    margin:18px auto;
    font-size: 23px;
    padding:5px;
    border-radius:15px;
    background:linear-gradient(to right, #66429c, #a33b6f) ;
    border:none;
}
button a{
    text-decoration:none;
    color:#fff;
}
h4{
    display: flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom: 20px;
}
.image-div{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    padding-left:5px;
}
.image-div a{
    padding:5px;
}
button a:hover{
    cursor: pointer;
    color:wheat;
}
.button-div button:hover{
    color:black;
    background:linear-gradient(#a33b6f,#a33ba3);
}
.h4-div{
    display: flex;
    justify-content: center;
    padding-top:40px;
}
h2{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
h2:hover{
    color:gray;
    cursor: pointer;
}